@import '../../styles.scss';

.navbar {
    height: 70px;
}

h2 {
    color: $green-color;
}

p {
    margin-bottom: 0;
}

.p-name {
    color: #00000078;
}

.img-avatar {
    height: 60px;
}

.bi-person-circle {
    color: $green-color;
}