@import '../../styles.scss';

.full-height {
    height: 100vh;
}

header {
    height: 60px;
}

.text-header {
    color: $white;
}

.img-header {
    height: 60px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #fcd719;
}

.nav-bottom {
    bottom: 5%;
    position: absolute;
}

.sidebar {
    background-color: $green-color;
}

.icon-menu {
    margin-right: 8px;
}

.background-dashboard {
    background-color: $green-color-background-light;
}